<div class="heading1">Summery</div>
<div class="summeryBox">
    <div class="widget4-box">
        <div class="heading2">1</div>
        <div class="box1-device">device11</div>
        <div class="box1-device">device12</div>
    </div>
    <div class="widget4-box">
        <div class="heading2">2</div>
        <div class="no-show" ng-show="!box2">-Select Protocol-</div>
    </div>
    <div class="widget4-box">
        <div class="heading2">3</div>
        <div class="no-show" ng-show="!box2">-Select Protocol-</div>
    </div>
    <div class="buttons">
        <div class="clear">Clear</div>
        <div class="startLearning"><i class="fa fa-caret-right" aria-hidden="true"></i> Start Learning</div>
    </div>


</div>