<div class="heading1">1 Select Blackboxes</div>
<div class="accordion" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <span class="caret"></span><input type="checkbox" > group 1
</div>
<div class="collapse" id="collapseExample">
    <div class="accordion-text">
        <div class="device-box"><input type="checkbox" > device 11</div>
        <div class="device-box"><input type="checkbox" > device 12</div>
        <div class="device-box"><input type="checkbox" > device 13</div>

    </div>
</div>